
body{
    height: 2000px;
    min-width:375px;
}

html{
    font-size: 13px;
}

#top{

    width: 50px;
    height: 50px;
    position: fixed;
    right: 35px;
    bottom: 100px;
    cursor: pointer;
    background:url(../img/top.png) no-repeat;
    z-index: 999;
}






/*header开始*/
#header{
    position: relative;
    width: 100%;
}

#header .container{
    width: 100%;
    position: absolute;
    top:40%;
    margin-left: 1%;
    transition: all 0.5s ease;
}

#header .container h1{
    font-size: 2.5rem;
}

#header .container p{
    font-size: 2rem;
}

#header .fadeIn{
    animation-delay: 0.2s;
}

#header .container .bounceInLeft{

    animation-delay: 0.3s;

}

#header .container p.bounceInLeft{

    animation-delay: 0.5s;

}

#header .container .text{
    animation-delay: 0.7s;
}

#header .huge{
    width: 100%;
    height: 0;
    /*高度/宽度*/
    padding-top: 46.8%;
    background: url(../img/img-1.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition:all .4s ease;
}




@media (max-width: 768px) {

    #header .huge{
        padding-top: 64%;
        background: url("../img/img-1-thumb.jpg") no-repeat;
        background-size: cover;
    }

    html{
        font-size: 11px;
    }

}


@media (max-width: 731px){

    html{
        font-size: 9px;
    }

    #header .container{
        top:35%;

    }


}

#header .container .text .first,.second{
    margin-right: 10px;
}

#header .container .text .third{
    width: 300px;
}

/*header结束*/




/*about开始*/

#about .container-fluid .row .left .wrapper{

    width: 85%;
    margin: 0 auto;

}

#about .container-fluid .row .right .wrapper{

    width: 85%;
    margin: 0 auto;

}
#about .container-fluid .row{
    background: #EBEBEB;
}


#about .container-fluid .row .left{
    color: #353535;
    height: 100%;
    background: #EBEBEB;
    /*background-image: url(../img/about.jpg);*/
    background-size: contain;
    /*opacity: .35;*/
    color: #555;
    /*height: 500px;*/
}





#about .container-fluid .row .right{
    background: #fff;
    /*height: 500px;*/

}

/*about结束*/



/*skills开始*/






#skills{

    /*高度/宽度*/
    background: url(../img/skills-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;

}
#skills .contain{

    /*position: absolute;*/
    /*top: 0px;*/

}

#skills .contain .wrapper{
    width: 80%;
    margin: 20px auto 20px;
    color: #fff;

}

#skills .contain .wrapper.skill-bars{
    width: 75%;
}


@media (max-width: 659px){

    #skills .contain .wrapper{
        margin-left: -8px;
    }

}


/*skills结束*/



#container1{
    width: 190px;
    height: 108px;
    position: relative;
    margin: 200px auto;
    transform-style: preserve-3d;
    /*background: #ff0000;*/
    transition: all 1s ease;
}
#container1 img{
    width: 190px;
    height: 108px;
    position: absolute;
    transition: all 1s ease;
}


#photo{
    perspective: 1000px;
    perspective-origin: center 100px;
}
















