/* Header */

#header {
  background-image: url("images/top-1280.svg"), url("images/overlay.png"),
    url("../imgs/header.jpg");
  background-size: 1280px 184px, auto, cover;
  padding: 3em 0 7em 0;
}

#header:before {
  height: calc(100% - 20px);
}

#header:after {
  height: 20px;
}

#header .logo {
  font-size: 1.5em;
}

#header h1 {
  font-size: 1.25em;
}

#header p {
  font-size: 1em;
}

/* Footer */

#footer {
  background-image: url("images/bottom-1280.svg");
  background-size: 1280px 184px;
  margin-top: -75px;
  padding: calc(184px + 2em) 0 2em 0;
}

#footer:before {
  height: calc(184px + 2em);
}

#footer form {
  padding-bottom: 0;
}

/* Main */

#main {
  padding: 2em 0 2em 0;
}
